[submodule "ntcl-build"]
	path = ntcl-build
	url = https://github.com/cheshyre/ntcl-build
[submodule "ntcl-util"]
	path = ntcl-util
	url = https://github.com/cheshyre/ntcl-util
[submodule "ntcl-data"]
	path = ntcl-data
	url = https://github.com/cheshyre/ntcl-data
[submodule "ntcl-tensor"]
	path = ntcl-tensor
	url = https://github.com/cheshyre/ntcl-tensor
[submodule "ntcl-algorithms"]
	path = ntcl-algorithms
	url = https://github.com/cheshyre/ntcl-algorithms
[submodule "ntcl-examples"]
	path = ntcl-examples
	url = https://github.com/cheshyre/ntcl-examples
